@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@font-face {
    font-family: clinmedix-icon;
    src:url("fonts/clinmedix-icon517c.eot");
}

.first-header{
	margin-top: 2rem;
	margin-bottom: 1.4rem;
}
.first-header-list{
	width: 33.33%;
	margin-right: 0px;
	margin-left: 0px;
}
.visit-profil-client,.logout-client{
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.visit-profil-client img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.logout-client{
	border: 1px solid #e5e9ed;
	position: relative;
}
.logout-client a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #555555;
}
.logout-client:hover{
	border: 1px solid #a1c2f6;
}
.logout-client a:hover{
	text-decoration: none;
	color: #007c92;
}
.visit-profil-client img{
	border-radius: 100%;
}
.register{
	font-size: 14px;
	color: #555555;
	margin-left: 60px;
	display: inline-block;
	border: 1px solid #e5e9ed;
	padding: 9px 26px 9px 60px;
	border-radius: 50px;
	position: relative;
	text-transform: uppercase;
}
.register-low{
	font-size: 14px;
	color: #555555;
	display: inline-block;
	border: 1px solid #e5e9ed;
	padding: 9px 26px 9px 60px;
	border-radius: 50px;
	position: relative;
	text-transform: uppercase;
}
.register i,.register-low i{
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
	border: 1px solid #e5e9ed;
	border-radius: 50%;
	position: absolute;
	left: -1px;
	top: -1px;
	-webkit-transition: 2s;
	transition: 2s;
	margin-right: 12px;
	color: #007c92;
}
.register:hover,.register-low:hover{
	text-decoration: none;
	color: #007c92;
}
.social-media-item-2 a i{
	color: #c3c6c9;
}
.social-media-item-2 a i:hover{
	color: #007c92;
	transition: 0.5s;
}

.header-logo{
	width: 20%;
}
.header-menu li{
	margin-right: 25px !important;
}
.header-menu li span{
	line-height: 1.5em;
	font-weight: 400;
	color: #333333;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
}
.bg-light{
	border-top: 1px solid #eeeeee;
	background-color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 300;
    font-size: 14px;
    margin-right: 20px;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
	font-size: 14px;
	display: block;
	font-weight: 300 !important;
	color: #007c92;
	font-family: 'Oxygen', sans-serif;
	transition: 0.5s;
}
.navbar-nav{
	padding-top: 0.8rem !important;
	padding-bottom: 0.8rem !important;
}
.navbar-low-size{
	background-color: #f4f7fc;
}


/* Caroussel Css */
section .item {
  height: 100vh;
  position: relative;
}
section .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
section .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
section .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
section .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
section .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
section .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
section .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
section .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
section .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
section .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
section .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
section .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
section .owl-nav .owl-prev:focus {
  outline: 0;
}
section .owl-nav .owl-prev:hover {
  background: #000 !important;
}
section .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
section .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
section .owl-nav .owl-next:focus {
  outline: 0;
}
section .owl-nav .owl-next:hover {
  background: #000 !important;
}
section:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
section:hover .owl-next {
  right: 0px;
  opacity: 1;
}

.line-title{
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	color: #4ad7e0 !important;
	font-size: 24px !important;
	text-transform: uppercase !important;
	letter-spacing: 1px !important;
}
.line-main-title{
	font-size: 70px;
	font-weight: 700 !important;
	color: #fff !important;
	animation-delay: 1s !important;
}
.line-main-title-low{
	font-size: 45px !important;
	font-weight: 700 !important;
	color: #fff !important;
	animation-delay: 1s !important;
}
.line-rdv{
	line-height: 24px !important;
	background: none !important;
	color: #fff !important;
	font-size: 16px !important;
	font-weight: 700 !important;
	padding: 18px 38px !important;
	display: inline-block !important;
	background-color: #886bdf !important;
	text-transform: capitalize !important;
	overflow: hidden !important;
	transition: .5s ease !important;
}
.line-connect{
	line-height: 24px !important;
	color: #fff !important;
	font-size: 16px !important;
	font-weight: 700 !important;
	padding: 18px 38px !important;
	display: inline-block !important;
	background-color: #4ad7e0 !important;
	text-transform: capitalize !important;
	overflow: hidden !important;
	transition: .5s ease !important;
}
.line-rdv:hover,.line-connect:hover{
	text-decoration: none;
}


/* On prend soin de vous */

#prend-soin-section{
	background-color: #112554;
	position: relative;
}
.box-wrap{
	position: relative;
}
.box,.box-low{
	position: absolute;	
	top: 45%;
	left: 10%;
	background-color: #fff;
	box-shadow: 0px 15px 40px 0px rgba(13, 29, 13, 0.1);
	border-radius: 10px;
}
.box-low{
	top: 30%;
	left: 0%;
}
.line-main-title-box{
	font-size: 50px;
	font-weight: 700 !important;
	color: #fff !important;
	animation-delay: 1s !important;
}
.box-info h4{
    position: relative;
    font-size: 34px;
    font-weight: 700;
    color: #ab1c6e;
}
.box-info span{
	font-size: 14px;
	font-weight: 700;
	color: #222222;
}