@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@font-face {
    font-family: GilroyExtraBold;
    src:url("../fonts/Gilroy-ExtraBold.otf");
}
@font-face {
    font-family: GilroyLight;
    src:url("../fonts/Gilroy-Light.otf");
}
@font-face {
    font-family: GiltroyRegular;
    src:url("../fonts/Gilroy-Regular.ttf");
}
@font-face {
    font-family: GiltroyBold;
    src:url("../fonts/Gilroy-Bold.ttf");
}


#MainSection{
	background-color: #F4F7FC;
}
.bg-nav{
	background-color: #F1F6FF;
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}
.bg-nav-lg{
	padding-right: 90px;
	padding-left: 90px;
}
.brand-color{
	color: #06adef !important;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
}
.brand-color span,.connexion-link{
	color: #26334B;
	font-weight: bold;
}
.inscrire-link,.inscription-link,.btn-submit,.btn-prendreRDV{
	padding: 8px 30px;
	border-radius: 50px;
	color: #fff;
	background-color: #ff3259;
	font-weight: bold;
}
.inscrire-link:hover,.inscription-link:hover,.btn-submit:hover,.btn-prendreRDV:hover{
	background-color: #fe0030;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}
.connexion-link:hover{
	text-decoration: none;
	color: #26334B;
}


.nav-menu{
	padding-left: 5.5rem;
}
.nav-menu-link{
	color: #1a2432;
	text-decoration: none;
	font-size: 16px;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
}
.nav-menu-link:hover{
	color: #212529;
	text-decoration: none;
	transition: 0.5s;
}
.section-title{
	font-weight: 700;
	line-height: 1.2;
	font-size: 40px;
	font-family: 'GiltroyBold','sans-serif';
}
.section-title span{
	color: #06adef;
}
.description-paragraph{
	color: #788291;
	font-size:16px; 
	max-width: 500px;
	font-family: 'Roboto',sans-serif;
}
.inscription-link, .btn-submit{
	padding: 13px 35px;
}
.inscription-link-color{
	background-color: #253246;
}
.inscription-link-color:hover{
	background-color: #171f2b;
}



.section-title-size{
	font-size: 30px;
}
.list-fonctionnalites{
	list-style-type: none;
	padding-left: 0.5rem;
}
.svg-icon{
	width: 100px;
	height: 100px;
	border-radius: 25px;
	margin: auto;
}
.Fonctionnalites h4{
	font-weight: 700;
	font-family: 'GiltroyRegular', sans-serif;
	color: #253246;
	line-height: 1.3;
	font-size: 24px;
}
.Fonctionnalites p{
	font-size: 14px;
	line-height: 1.45;
	color: #788291;
	font-weight: 400;
	font-family: 'GiltroyRegular', sans-serif;
}

.extra{
	display: none;
}
.fonctionnalite-item:hover .extra{
	display:inline-block;
	transition: 1s;
}
.fonctionnalite-item:hover{
	padding-right: 1rem;
	padding-left: 1rem;
	transform: scale(1.1);
	margin-bottom: 15px;
	transition: 0.5s;
}



.client-opinion{
	box-shadow: 0 0 20px 0 rgba(86,153,196,.15);
	padding: 0 30px 20px;
	border-radius: 25px;
	height: 100%;
	position: relative;
}
.clients h3{
	padding-bottom: 5rem;
}
.client-image{
	max-width: 155px;
	max-height: 150px;
	border-radius: 100%;
	background-color: #212529;
	position: absolute;
	top: -13%;
	left: 36%;
}
.client-image-low{
	max-width: 155px;
	max-height: 150px;
	border-radius: 100%;
	background-color: #212529;
	position: absolute;
	top: -13%;
	left: 30%;
}
.client-image img,.client-image-low img{
	border-radius: 100%;
	filter:grayscale(75%);

}
.client-info{
	padding-top: 8rem;
}
.client-domain{
	color: #253246;
}
.paragraph-quote{
	color: #788291;
	font-family: 'GiltroyRegular', sans-serif;
}
.client-name{
	font-size: 1rem;
	font-family: 'GiltroyBold', sans-serif;
}



.social-media{
	margin-top: 7rem;
}
.social-media-item{
	width: 30%;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px; 
	text-align: center;
	border-radius: 15px;
}
.social-media-item div i{
	font-size: 2rem;
}
.social-media-item div i, .social-media-item span{
	color: #788291;
}
.link-social-media{
	visibility: hidden;
}
.social-media-item:hover{
	cursor: pointer;
	background-color: #F1F6FF;
	transition: 0.5s;
}
.social-media-item:focus{
	background-color: #F1F6FF;
	transition: 0.5s;
}
.social-media-item:focus .social-media-title{
	font-weight: 600;
	color: #4c4f53;
	transition: 0.5s;
}
.social-media-item:focus .social-media-icon{
	color: #4c4f53;
	transition: 0.5s;
}

.social-media-item:focus .link-social-media{
	visibility: visible;
	transition: 0.5s;
}



.support h3{
	font-family: 'GiltroyRegular','sans-serif';
	font-weight: bold;
}
.shape{
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	
}
.support-description{
	margin-bottom: 2rem;
}
.support-list{
	list-style-type: none;
}
.support-list-item{
	color: #788291;
	margin-bottom: 0.8rem;
}
.support-list-item i{
	color: #06adef;
}
.span-pub{
	color: #000;
	background-color: #06adef;
	font-size: 24px;
	font-family: Caveat,cursive !important;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.3px;
}



.securite-link{
	background-color: #f1f6ff;
	padding: 10px 20px;
	color: #253246;
	text-decoration: none;
	border-radius: 50px;
}
.securite-link:hover{
	background-color: #e7efff;
	color: #253246;
	text-decoration: none;
}
.securite-image{
	width: 150px;
	height: 70px;
	margin-right: 2rem;
}
.securite-image img{
	height: 100%;
}


.video-guide{
	background-color: #f1f6ff; 
	margin-top: 5rem;
}
.guide-image{
	padding-top: 8rem;
	position: relative;
}
.button-div,.button-div-medium,.button-div-low{
	position: absolute;
	top: 78%;
	left: 33%;
}
.button-div-medium{
	left: 23.5%;
}
.button-div-low{
	left: 28.5%;
}
.guide-image img{
	max-height: 491px;
}
.span-pub-guide{
	display: block;
	position: absolute;
	left: 0%;
	top: 85%;
	color: #06adef;
	font-size: 24px;
	font-family: Caveat,cursive !important;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.3px;
}




#connexionModal .modal-content{
	border-radius: 20px;
} 
#connexionModal .modal-header{
	border-bottom: none;
}
#connexionModal .modal-title{
	color: #253246;
	font-weight: bold;
	font-family: 'GiltroyRegular' sans-serif;
}
.formConnexion label{
	color: #788291;
	font-size: 16px;
	margin-left: 10px;
	font-family: 'GiltroyRegular' sans-serif;
}
.formConnexion-link{
	color: #06adef;
	font-size: 16px;
	font-family: 'GiltroyRegular' sans-serif;
	font-weight: 400;
	line-height: 1;
	letter-spacing: .01;
}
.formConnexion-link:hover{
	color: #06adef;
}

.btn-submit{
	border-color: #ff3259;
	padding: 10px 35px;
}
.btn-submit:hover{
	border-color: #fe0030;
}
.btn-close{
	font-size: 42px;
	font-weight: 400;
	color: #ff3259;
}
.btn-close:hover{
	color: #fe0030;
}


.publication-content{
	background-color: #F1F6FF;
	border-radius: 35px;
}
.publication-content:hover{
	background-color:#fff;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	-webkit-box-shadow: 0 0 15px 7px rgba(37,50,70,.1); 
	box-shadow: 0 0 15px 7px rgba(37,50,70,.1);
}
.publication-link{
	text-decoration: none;
	color: #253246;
}
.publication-link h4,.profil-info h4{
	font-family: 'GiltroyRegular' sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #253246;
}
.publication-link:hover{
	text-decoration: none;
	color: #253246;
}
.publication-image{
	max-width: 100%;
	padding-top: 3rem;
}
.publication-image img{
	height: 218px;
	margin: 0 auto;
}




#profilSection, .profil{
	background-color: #f8f8f8;
}
.profil-body,.info-update{
	background-color: #fff;
}
.profil-image{
	height: 150px;
	width: 150px;
	border-radius: 100%;
	position: relative;
}
.profil-image-source,.profil-image-doctor{
	border-radius: 100%;
}
.profil-image-update{
	font-size: 3em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	visibility: hidden;
}
.profil-image:hover{
	cursor: pointer;
}
.profil-image:hover .profil-image-source{
	filter: grayscale(80%);
	transition: 0.3s;
}
.profil-image:hover .profil-image-update{
	visibility: visible;
}
.list-info,.list-info li ul{
	list-style-type: none;
}
.list-info li ul li{
	color: #62646a;
	margin-bottom: 10px;
	font-size: 14px;
}
.online{
	border: 1px solid #1dbf73;
	padding: 0px 20px 2px 10px;
	color: #1dbf73;
	border-radius: 20px;
	font-weight: 600;
}
.badge-image{
	width: 30px;
	height: 30px;
}
.modifier-profil{
	color: #62646a;
	font-size: 14px;
	padding: 5px 15px;
	border: 1px solid #a9b4c7;
	font-weight: bold;
	cursor: pointer;
}
.modifier-profil:hover{
	color: #fff;
	border: 1px solid #a9b4c7;
	background-color: #a9b4c7;
	text-decoration: none;
}
.illustration-profil img{
	height: 500px;
	margin-left: auto;
}
.info-update-header{
	height: 150px;
	background-color: #f1f6ff;
	position: relative;
}
.profil-body,.info-update{
	border: 1px solid #e4dada;
}
.list-menu{
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
}
.info-update-header h2{
	color: #000;
	font-weight: bold;
}
.list-menu li{
	font-size: 17px;
	font-weight: 600;
	padding-bottom: 4px;
	cursor: pointer;
}
.non-active-option{
	color: gray;
}
.active-option{
	color: #000;
	border-bottom: 3px solid #06adef;
	margin-bottom: 0px;
}
.info-update-body form label{
    color: #201919;
    font-weight: 600;
}
.menu-reservation h4{
    color: #565454;
    font-weight: 600;
    font-size: 20px;
}
.menu-reservation i{
    color: #ad523c;
    font-size: 25px;
    margin-right: 10px;
}
.btn-profil-reservation{
	padding: 10px 30px;
	border-radius: 25px;
	background-color: #ad523c;
	color: #fff;
	font-weight: 600;
}
.btn-profil-reservation:hover{
	text-decoration: none;
	color: #fff;
}
.client-reservations{
	padding: 12px 30px;
	background-color: #d4edda;
	border: 4px solid #c3e6cb;
	width: 70%;
	border-radius: 15px;
}
.client-reservations span{
	color: #000;
	font-weight: 600;
	font-size: 16px;
}
.reservation-statut{
	border: 1px solid green;
	padding: 2px 8px;
	border-radius: 25px;
}
.client-reservations i{
	color: #319447;
}
/*
	QUIZ SECTION :
*/

.category-link {
    color: #00c36e;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.category-link:hover {
    text-decoration: none;
    color: #0cae68;
}

.emoji div {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffda6a;
}

.author .author-name .author-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.author .author-name p a {
    color: #212529;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
}

.author .author-name p a:hover {
    color: #ff3259;
}

.author span {
    color: grey;
    font-family: Spartan, Roboto, sans-serif;
}

.author .author-name {
    padding-top: 1.8rem;
    padding-left: 1rem;
}

.author .author-name .name-bold {
    color: #212529;
    font-weight: bold;
}

.author .author-name .dot {
    font-weight: bold;
}

.views {
    padding-top: 2.7rem;
}

.views span {
    color: grey;
    font-family: Spartan, Roboto, sans-serif;
    font-weight: bold;
}

.Share-number {
    font-family: Spartan, Roboto, sans-serif;
}

.share-number div {
    color: #ff3259;
    font-size: 2.7rem;
    font-weight: 700;
}

.share-number span {
    color: grey;
}

.share-button .share-fb {
    text-decoration: none;
    background-color: #2d5f9a;
    border-color: #2d5f9a;
    color: #fff !important;
}

.share-button .share-twitter {
    text-decoration: none;
    background-color: #00c3f3;
    border-color: #00c3f3;
    color: #fff !important;
}

.share-button .share-twitter:foxus {
    background-color: #00c3f3;
}

.share-button .share-fb:focus {
    background-color: #2d5f9a;
}


/*
	QUIZ SECTION ----> BLOG :
*/
.publication-title{
	color: #212529;
	font-family: 'GiltroyBold', sans-serif;
}
.blog-image img {
    border-radius: 5px;
}

.blog-post p,
.blog p {
    color: #454343;
    font-family: Roboto, sans-serif;
    line-height: 1.8;
    font-weight: 500;
    font-size: 1.1rem;
}

.blog p a {
    color: #ff3259;
    text-decoration: none;
}

.blog-play .btn-play {
    text-decoration: none;
    background-color: #ff0036;
    border-color: #ff0036;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}


/*
	QUIZ SECTION ----> PICKS :
*/

.picks h2 {
    text-transform: uppercase;
    color: #212529;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Spartan, Roboto, sans-serif;
}

.picks h3 {
    font-size: 22px;
}
.picks-images h2 {
    line-height: 0.9;
}

.picks-images h2 a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}

.picks-images h2 a:hover {
    color: #ff3259;
}
.recent-posts-header{
	height: 50px;
	box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	border-bottom: 3px solid #06adef;
}
.recent-posts-header h3{
	text-transform: uppercase;
	color: #000;
	font-weight:bold;
	font-size: 1rem;
}
.recent-posts-body{
	background-color: #F6F6F6;
	padding: 40px 30px;
}
.recent-posts-publications-image{
	border-radius: 100%;
	width: 140px;
	height: 100px;
}
.recent-posts-publications-image img{
	border-radius: 100%;
    width: 78px;
    height: 78px;
}
.recent-posts-publications-info h5 a{
	color: #000;
	font-weight: bold;
	font-size: 16px;
}
.recent-posts-publications-info h5 a:hover{
	font-weight: bold;
	text-decoration: none;
	color: #06adef;
	transition: .4s ease;
}
.recent-posts-publications-info p{
	color: #06adef;
	font-weight: bold;
	font-size: 12px;
}


/*
	QUIZ SECTION -----> NEWSLETTER :
*/

.news-letter {
    border: 10px solid #e6e6e6;
    position: relative;
}

.btn-signup {
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ff0036;
    border-color: #ff0036;
    text-transform: uppercase;
    font-weight: bold;
}

.mail-logo {
    position: absolute;
    top: -30px;
    left: 125px;
}

.mail-logo i {
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 3px solid #FFF;
    background-color: #ff3259;
}


/*
	MORE STUFF SECTION :
*/

#more-stuff .news-letter p {
    color: grey;
    font-family: Spartan, Roboto, sans-serif;
}

#more-stuff .news-letter .input-pc {
    width: 70%;
}

#more-stuff .news-letter .mail-logo {
    left: 44%;
}

#more-stuff .previous-article strong,
#more-stuff .next-article strong {
    color: grey;
    font-family: Spartan, Roboto, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

#more-stuff .previous-article a span,
#more-stuff .next-article a span {
    font-family: 'Spartan', sans-serif;
    color: #212529;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
}

#more-stuff .previous-article a:hover,
#more-stuff .next-article a:hover {
    text-decoration: none;
    color: #ff3259;
}

#more-stuff .previous-article a:hover span,
#more-stuff .next-article a:hover span {
    color: #ff3259;
}

#more-stuff .previous-article a:hover strong,
#more-stuff .next-article a:hover strong {
    color: #ff3259;
}

.snapcode {
    height: 200px;
    width: 334px;
}

.snapcode h2 a span {
    color: #ff3259;
    font-size: 1rem;
    font-weight: 600;
}



/*
	COMMENT SECTION :
*/

#comment ul li {
    padding-right: 10px;
}

#comment ul li a {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Spartan, Roboto, sans-serif;
    font-size: 0.9rem;
    color: grey;
}

#comment ul li a:active {
    color: #212529;
    text-decoration: underline;
}

.form-pc .input-size input {
    width: 50%;
}

.comment-content label {
    font-size: 0.8rem;
    color: #212529;
    font-family: Spartan, Roboto, sans-serif;
    line-height: 1.8;
}

.comment-content label a {
    font-size: 0.8rem;
    color: #ff3259;
    font-family: Spartan, Roboto, sans-serif;
}

.comment-content p {
    color: #212529;
    font-size: 0.8rem;
    font-family: Spartan, Roboto, sans-serif;
    font-weight: 500;
}



ol,ul{
    list-style:none
}
li{
    cursor: auto;
}
#main-footer{
	background-color: #141414;
}
.footer-list-item{
    line-height: 25px;
    margin-bottom: 9px;
    color: #fff;
    font-size: 15px;
}
.footer-logo-image img{
	width: 170px;
}
.footer-list-item p{
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
}
.footer-list-item i{
	color: #ab1c6e !important;
}

.footer-list-title{
	color: #FFFFFF;
	font-size: 20px;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
}
.footer-list-title::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: #ab1c6e;
    left: 0;
    position: absolute;
    top: 40px;
    left: 72px;
}
.footer-list-item-hover a{
	display: block;
	color: #f7f7f7;
	font-size: 14px;
	font-family: "Oxygen";
	font-weight: 500;
	position: relative;
	padding-left: 0;
}
.footer-list-item-hover i{
	visibility: hidden;
	transition: all .4s ease;
}
.footer-list-item-hover:hover a{
	padding-left: 10px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	color: #129DE8;
	text-decoration: none;
}
.footer-list-item-hover:hover i{
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	visibility: visible;
	color: #fff !important;
}
.work-box{
	background-color: #f6f6f6;
	border-radius: 15px;
}
.work-list-item{
	font-family: 'Oxygen' , sans-serif;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	color: #ab1c6e !important;
	border-bottom: 1px solid #CBCBCB;
}
.work-list-item span{
	color: #666666;
	font-size: 14px;
	display: block;
	vertical-align: middle;
	font-weight: 500;
}
.work-list-item:last-child{
	border-bottom: 0px solid #CBCBCB;
}
.clients-count{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.clients-count i {
    position: relative ; 
    bottom: 2.5px; 
    margin-right: 10px;
    opacity: .85;
}
.clients-count>p{
    font-size:32px;
    line-height:40px;
    color:#d9e1ee
}
.euclid-font{
    font-family:"Euclid Circular B",Arial,Helvetica,sans-serif
}
.apropos{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    color:#d9e1ee;
    font-size:14px;
}
.footer-end{
    text-align:left;
    padding:37px 0 0 0;
    color:#d9e1ee;
    font-size:14px;
}
/* Fonts */
@font-face{
    font-family:"Euclid Circular B";
    src:url(https://storage.googleapis.com/setmore-website/fonts/EuclidCircularB-Semibold.woff) format("woff");
    font-weight:600;
    font-style:normal;
    font-display:swap
}
@font-face{
    font-family:Lato;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://storage.googleapis.com/setmore-website/fonts/Lato-Regular.woff2) format("woff2")
}
/* responsive querries */
@media (max-width:767px){
    .md\:m-0{
        margin:0!important
    }
    .md\:neg-left{
        left:-30px!important
    }
}
@media (max-width:1199px){
    .container{
        margin-left:20px;
        margin-right:20px
    }
}
@media (max-width:767px){
    ul{
        margin-right:auto;
        margin-left:auto
    }
}

/*
	Appointements
*/
.appointement{
	max-width: 1000px;
	border-radius: 25px !important;
	background-color: #fff;
	-webkit-box-shadow: 0 0 15px 7px rgba(37,50,70,.1); 
	box-shadow: 0 0 15px 7px rgba(37,50,70,.1);
}
.reservation-header{
	background-color: #0098DF;
	height: 15%;
	color: #fff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.info-agency{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.info-agency {
  position: relative;
}

.info-agency:after{
  content: '';
  height: 70%;
  width: 2px;
  position: absolute;
  right: 0;
  top: 20%;
  background-color: rgba(0,0,0,.1);
}
.day-name{
	color: #000;
	font-weight: bold;
}
.day-date{
	color: grey;
	font-weight: 500;
}
.btn-reservation,.btn-reservation-disabled{
	color: #fff !important;
	cursor: pointer;
	font-weight: 600;
	background-color: #5CB85C;
	text-align: center;
	border-radius: 15px;
	padding: 10px 25px;
}
.btn-reservation:hover{
	background-color: #53AA53;
	text-decoration: none;
	color: #fff;
}
.btn-reservation-disabled{
	color: #24272b;
	background-color: #B9BBBC;
}
.btn-reservation-disabled:hover{
	color: #24272b;
	background-color: #A6AAAB;
	text-decoration: none;
	cursor: not-allowed;
}
.btn-prendreRDV{
	background-color: #5CB85C;
	border-color: #4a8d4a;
}
.btn-prendreRDV:hover{
	background-color: #53AA53;
	border-color: #4a8d4a;
}
#appointementModal .modal-header{
	border-bottom: none;
}

/*Caroussel controls*/

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 	background-color: #e1dede;
	padding: 50px 15px;
	margin-right: 40px;
	font-size: 10px;
	width: 10px !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	background-color: #e1dede;
	padding: 50px 15px;
	margin-left: 40px;
	font-size: 10px;
	width: 10px !important;
}
.mrgn{
	padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 16px;
}
.mb-2, .my-2 {
    margin-top: 5px;
    text-align: center;
    line-height: 0.6;
}

/* Loading Bar animation */
no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_11.gif) center no-repeat #fff;
}

/* The main Titles */
.title-para{
	font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ab1c6e;
}
.main-title h1{
	font-family: 'GiltroyBold','sans-serif';
	font-size: 40px;
	font-weight: 700;
	color: #222;
	line-height: 50px;
}
.main-title h1 span{
	color: #8467de;
}

/* Call Us Section */
#call-us-section{
	background: url(../images/background-image.jpg);
}
.call-us-wrapper{
	height: 100%;
	background-color: rgba(0, 0, 0, 0.89); 
}
#call-us-section p{
	font-family: 'GiltroyRegular','sans-serif';
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
#call-us-section p a{
	text-decoration: underline;
	color: #34b8c3;
}
#call-us-section h1{
	font-family: 'GiltroyRegular','sans-serif';
	font-size: 40px;
	font-weight: 400;
	color: #fff;
}
#call-us-section h1 span{
	font-family: 'GiltroyBold','sans-serif';
	font-weight: bold;
	color: #b82077;
}

/*Publication banner*/
#publication-banner{
	background: url(../images/inner-banner.jpg);
	background-size: cover; 
}
#publication-banner h1{
	text-transform: capitalize;
	font-size: 48px;
	color: #ab1c6e;
	font-family: "GiltroyBold",sans-serif;
}

 
